In [23]:
import pandas as pd
from pydantic import BaseModel, parse_obj_as
from datetime import datetime

In [24]:
class DfTest(BaseModel):
    _id: int
    campus: str
    matricula: int
    cpf: str
    ano: int
    mes: int
    nome: str
    alimentacao_1: float
    alimentacao_2: float
    creche: float
    estudantil: float
    moradia: float
    transport_1: float
    transport_2: float
    transport_3: float
    data_atualizacao: datetime

In [2]:
df = pd.read_csv('data.csv')

In [ ]:
df = df.rename(columns={"_id": "id", "Alimentação I": "alimentacao_1", "Alimentação II": "alimentacao_2", "Creche":"creche", 
                   "Estudantil":"estudantil", "Moradia":"moradia", "Transporte I":"transport_1", "Transporte II":"transport_2", "Transporte III":"transport_3",})

In [28]:
df_test = DfTest(**df)
print(df_test.id)

ValidationError: 15 validation errors for DfTest
campus
  Input should be a valid string [type=string_type, input_value=0        Chapecó
1      ...th: 83608, dtype: object, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/string_type
matricula
  Input should be a valid integer [type=int_type, input_value=0        1311400035
1    ...gth: 83608, dtype: int64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/int_type
cpf
  Input should be a valid string [type=string_type, input_value=0        032xxxx4032
1   ...th: 83608, dtype: object, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/string_type
ano
  Input should be a valid integer [type=int_type, input_value=0        2022
1        20...gth: 83608, dtype: int64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/int_type
mes
  Input should be a valid integer [type=int_type, input_value=0        9
1        9
2  ...gth: 83608, dtype: int64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/int_type
nome
  Input should be a valid string [type=string_type, input_value=0                ANGÉLIC...th: 83608, dtype: object, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/string_type
alimentacao_1
  Input should be a valid number [type=float_type, input_value=0        120.0
1        1...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
alimentacao_2
  Input should be a valid number [type=float_type, input_value=0       NaN
1       NaN
2...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
creche
  Input should be a valid number [type=float_type, input_value=0       NaN
1       NaN
2...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
estudantil
  Input should be a valid number [type=float_type, input_value=0        180.0
1        1...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
moradia
  Input should be a valid number [type=float_type, input_value=0        425.0
1        4...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
transport_1
  Input should be a valid number [type=float_type, input_value=0        65.0
1        65...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
transport_2
  Input should be a valid number [type=float_type, input_value=0         NaN
1         N...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
transport_3
  Input should be a valid number [type=float_type, input_value=0       NaN
1       NaN
2...h: 83608, dtype: float64, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/float_type
data_atualizacao
  Input should be a valid datetime [type=datetime_type, input_value=0        2023-09-05T15:46...th: 83608, dtype: object, input_type=Series]
    For further information visit https://errors.pydantic.dev/2.6/v/datetime_type

In [20]:
df

,id,campus,matricula,cpf,ano,mes,nome,alimentacao_1,alimentacao_2,creche,estudantil,moradia,transport_1,transport_2,transport_3,data_atualizacao
0,1,Chapecó,1311400035,032xxxx4032,2022,9,ANGÉLICA TAIS DE OLIVEIRA,120.0,NaN,NaN,180.0,425.0,65.0,NaN,NaN,2023-09-05T15:46:38
1,2,Erechim,2015502048,042xxxx6000,2022,9,GESSICA LUANA PEREIRA NERI,120.0,NaN,NaN,135.0,425.0,65.0,NaN,NaN,2023-09-05T15:46:38
2,3,Chapecó,1511301009,417xxxx3878,2022,9,ALEXANDRE GEMELLI BORGES DA SILVA,115.0,NaN,NaN,130.0,395.0,60.0,NaN,NaN,2023-09-05T15:46:38
3,4,Erechim,2015502029,037xxxx9044,2022,9,LUANA LUCIA TROMBETTA,60.0,NaN,NaN,50.0,155.0,40.0,NaN,NaN,2023-09-05T15:46:38
4,5,Chapecó,1511501009,095xxxx6909,2022,9,INDIO DE SOUZA VEDOVATTO,115.0,NaN,NaN,130.0,NaN,NaN,NaN,NaN,2023-09-05T15:46:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83603,83604,Chapecó,1711730030,093xxxx4995,2019,2,TALIA LIMA PINTO,110.0,NaN,NaN,120.0,NaN,55.0,NaN,NaN,2023-09-05T15:46:38
83604,83605,Chapecó,1611110017,114xxxx3973,2019,2,FERNANDA COLLE,60.0,NaN,NaN,50.0,NaN,NaN,50.0,NaN,2023-09-05T15:46:38
83605,83606,Chapecó,1511301009,417xxxx3878,2019,2,ALEXANDRE GEMELLI BORGES DA SILVA,120.0,NaN,NaN,135.0,225.0,60.0,NaN,NaN,2023-09-05T15:46:38
83606,83607,Chapecó,1711100026,422xxxx4870,2019,2,MATHEUS DIAS NEGRÃO,120.0,NaN,NaN,135.0,225.0,60.0,NaN,NaN,2023-09-05T15:46:38
83607,83608,Chapecó,1711730033,031xxxx0042,2019,2,VERA LUCIA REGOSO,60.0,NaN,NaN,50.0,NaN,35.0,NaN,NaN,2023-09-05T15:46:38